.doc-body {
  overflow-y: hidden;
}

.doc-wrap {
  position: relative;
  width: 100%;
}

.doc-wrap .left-menu__wrap {
  position: absolute;
  overflow-y: auto;
  width: 260px;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  z-index: 10;
  border-right: 1px solid #CFCFCF;
}

.doc-wrap .left-menu__wrap::-webkit-scrollbar {
  display: none;
}

.doc-wrap .left-menu__wrap .menu-level-1 {
  position: relative;
}

.doc-wrap .left-menu__wrap .menu-level-1 h6 {
  padding: 2rem 1.5rem 0rem 1.5rem;
}

.doc-wrap .left-menu__wrap .menu-level-1 .menu-level-2 li {
  padding: 0.25rem 2.25rem;
}

.doc-content__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 260px;
}

.grid-cell {
  width: 100%;
  min-height: 150px;
  background-color: #d6d6d6;
}

.grid-cell:nth-child(even) {
  background-color: #a3a3a3;
}

.grid-cell .grid-cell-inbox {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.grid-test-card {
  width: 100%;
  background-color: #d6d6d6;
}

.grid-test-card .thumbnail {
  width: 100%;
  background-color: #8a8a8a;
}

.grid-test-card .card--body {
  width: 100%;
  min-height: 150px;
}
