.grid-back-wrap{
    position: relative; width: 100vw; height: 260vw;
    background-color: gray;
}
.grid14-wrap{
    position: absolute; width:100%; height:260vw; 
    //min-height:1600px; max-height: 2000px; 
    display: grid; gap: 1px; 
    .item--image{
        overflow: hidden; object-fit: cover;
        @include backImageCover;
        background-color: gray;
    }
    .item--blank{
        overflow: hidden; background-color: white;
    }
    &.exhibitions-wrap__type1{
        #exhibition__item-01{
            background-image: url(../img/dummy/exhibition_thumb_01_a.png);
        }
        #exhibition__item-02{
            background-image: url(../img/dummy/exhibition_thumb_02_a.png);
        }
        #exhibition__item-03{
            background-image: url(../img/dummy/exhibition_thumb_01_a.png);
        }
    }
}
@media (min-width: $bp-xl){
    .grid-back-wrap{
        height: 100vw;
    }
    .grid14-wrap{
        height: 100vw;
        -ms-grid-columns: repeat(14, 1fr);
        -ms-grid-rows: repeat(16, 1fr);        
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(15, 1fr);
        
        &.exhibitions-wrap__type1{
            #exhibition__blank-01{ grid-column: 1/4; grid-row: 1/8 ; }
            #exhibition__blank-02{ grid-column: 8/11; grid-row: 1/4; }
            #exhibition__blank-03{ grid-column: 14/14; grid-row: 1/6; }
            #exhibition__blank-04{ grid-column: 8/14; grid-row: 4/6; }
            #exhibition__item-01{ grid-column: 4/8; grid-row: 1/6; }
            #exhibition__item-02{ grid-column: 11/14; grid-row: 1/4; }
            #exhibition__item-03{ grid-column: 2/7; grid-row: 9/16; }
        }
    }
}


.grid {
    width:100%; padding:0 calc(100vw / 14);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
  
  .title {
    font-size: 130px;
    margin-top: 0;
  }
  
  .item-a {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  .item-b {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  
  .item-c {
    grid-column-start: 1;
    grid-column-end: span 4;
    border: 1px solid #000;
  }
  
  .item-d {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
  
  .item-e {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }
  
  .item-f {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  
  .item-g {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  
  .item-h {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  
  .item-i {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
  
  .item-j {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .border-interrupt {
    background-color: #FFFF63;
  }
  
  .playfair {
    font-family: 'Playfair Display', serif;
  }
  
  .lora {
    font-family: 'Lora', serif;
  }
  
  .f8 {
    font-size: .78rem;
  }
  
  .item:hover {
    background-color: #222;
    color: #FFFF63;
    transition: all 0.25s ease;
  }
  
  .item {
    transition: all 0.25s ease;
  }
  
  @media (min-width: 1011px) {
    .grid {
        width:100%; padding:0 calc(100vw / 14);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 150px
        127px
        127px
        127px
        127px
        127px
        127px
        127px
        127px
        127px;
      margin: 100px auto;
    }
  
    .title {
      font-size: 130px;
      margin-top: 0;
    }
  
    .item-b {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 6;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      border-right: none;
    }
  
    .item-c {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 7;
      border: 1px solid #000;
    }
  
    .item-d {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 8;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
    }
  
    .item-e {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 8;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #000;
    }
  
    .item-f {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 7;
      grid-row-end: 9;
      border-left: 1px solid #000;
      border-bottom: none;
      border-right: none;
    }
  
    .item-g {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 7;
      grid-row-end: 11;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  
    .item-h {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 8;
      grid-row-end: 11;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      border-right: none;
    }
  
    .item-i {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 9;
      grid-row-end: 11;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-right: none;
    }
  
    .item-j {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
    }
  
    .mobile-message {
      display: none;
    }
  }
  

