
@mixin rfs-12{
  font-size: map-get($font-scale, font-scale-12);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-12);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-12);
  }
}
@mixin rfs-14{
  font-size: map-get($font-scale, font-scale-14);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-14);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-14);
  }
}
@mixin rfs-16{
  font-size: map-get($font-scale, font-scale-16);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-16);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-16);
  }
}
@mixin rfs-18{
  font-size: map-get($font-scale, font-scale-16);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-16);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-18);
  }
}
@mixin rfs-20{
  font-size: map-get($font-scale, font-scale-16);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-18);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-20);
  }
}
@mixin rfs-24{
  font-size: map-get($font-scale, font-scale-18);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-20);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-24);
  }
}
@mixin rfs-28{
  font-size: map-get($font-scale, font-scale-18);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-20);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-28);
  }
}
@mixin rfs-32{
  font-size: map-get($font-scale, font-scale-24);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-28);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-32);
  }
}
@mixin rfs-36{
  font-size: map-get($font-scale, font-scale-24);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-32);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-36);
  }
}
@mixin rfs-42{
  font-size: map-get($font-scale, font-scale-28);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-32);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-42);
  }
}
@mixin rfs-48{
  font-size: map-get($font-scale, font-scale-32);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-36);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-48);
  }
}
@mixin rfs-54{
  font-size: map-get($font-scale, font-scale-32);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-42);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-54);
  }
}
@mixin rfs-60{
  font-size: map-get($font-scale, font-scale-32);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-48);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-60);
  }
}
@mixin rfs-68{
  font-size: map-get($font-scale, font-scale-36);
  @media (min-width: $bp-sm){
      font-size: map-get($font-scale, font-scale-48);
  }
  @media (min-width: $bp-xl){
      font-size: map-get($font-scale, font-scale-68);
  }
}

.rfs-12 { @include rfs-12; }
.rfs-14 { @include rfs-14; }
.rfs-16 { @include rfs-16; }
.rfs-18 { @include rfs-18; }
.rfs-20 { @include rfs-20; }
.rfs-24 { @include rfs-24; }
.rfs-28 { @include rfs-28; }
.rfs-32 { @include rfs-32; }
.rfs-36 { @include rfs-36; }
.rfs-42 { @include rfs-42; }
.rfs-48 { @include rfs-48; }
.rfs-54 { @include rfs-54; }
.rfs-60 { @include rfs-60; }
.rfs-68 { @include rfs-68; }