
//-------------------------------------
// Color

$white:    #fff !default;
$black:    #000 !default;

$color-p-red : #CA1036;
$color-p-green : #68BA9E;
$color-p-amber: #E3943D;
$color-p-violet: #7775B6;

$color-text-base : $black;
$color-text-gray-200 : #909296;
$color-text-gray-300 : #606265;

$color-ui-line-100: #E2E2E2;
$color-ui-line-200: #E2E2E2;
$color-ui-line-300: #CECECE;
$color-ui-line-400: #333333;

$color-ui-solid-100: #F7F7F7;
$color-ui-solid-500: #333333;
$color-ui-solid-600: #1A1A1A;

//-------------------------------------
// Spacing

$spacer: 1rem !default;

$spacer-s4: $spacer / 4;
$spacer-s2: $spacer / 2;
$spacer-l1: $spacer * 1.5;
$spacer-l2: $spacer * 2;
$spacer-l3: $spacer * 2.5;
$spacer-l4: $spacer * 3;

$spacer-layout-1x: $spacer;
$spacer-layout-2x: $spacer*2;
$spacer-layout-3x: $spacer*3;
$spacer-layout-4x: $spacer*4;
$spacer-layout-5x: $spacer*5;
$spacer-layout-6x: $spacer*6;
$spacer-layout-7x: $spacer*7;
$spacer-layout-8x: $spacer*8;


//-------------------------------------
// Typography

// Type Scale Set

$font-scale:(
    font-scale-12 : 0.75rem,
    font-scale-14 : 0.875rem,
    font-scale-16 : 1rem,
    font-scale-18 : 1.125rem,
    font-scale-20 : 1.25rem,
    font-scale-24 : 1.5rem,
    font-scale-28 : 1.75rem,
    font-scale-32 : 2rem,
    font-scale-36 : 2.25rem,
    font-scale-42 : 2.625rem,
    font-scale-48 : 3rem,
    font-scale-54 : 3.375rem,
    font-scale-60 : 3.75rem,
    font-scale-68 : 4.25rem,
    font-scale-76 : 4.75rem,
    font-scale-84 : 5.25rem,
    font-scale-92 : 5.75rem
);

$letter-spacing-base: 0em;
$letter-spacing-s1: -0.025em;
$letter-spacing-s2: -0.05em;

// Breakpoints & Grid Setting Value
//
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1360px;
$bp-xxl: 1632px;

$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1360;
$grid__bp-xxl: 1632;
$grid__cols: 12;

// Duration & Easing
//
$duration-s: 0.25s;
$duration-m: 0.4s;
$duration-l: 0.6s;
$easing-cubic: cubic-bezier(0.65, 0, 0.35, 1);

$page-max-width : 2500px;

//-------------------------------------
// Typography

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base: $font-family-sans-serif;
$font-family-code: $font-family-monospace;

// Type Scale Set
// Xn = Xn-1 + {INT[(n-2)/4] + 1} * 2
// 
$font-scale:(
    font-scale-12 : 0.75rem,
    font-scale-14 : 0.875rem,
    font-scale-16 : 1rem,
    font-scale-18 : 1.125rem,
    font-scale-20 : 1.25rem,
    font-scale-24 : 1.5rem,
    font-scale-28 : 1.75rem,
    font-scale-32 : 2rem,
    font-scale-36 : 2.25rem,
    font-scale-42 : 2.625rem,
    font-scale-48 : 3rem,
    font-scale-54 : 3.375rem,
    font-scale-60 : 3.75rem,
    font-scale-68 : 4.25rem,
    font-scale-76 : 4.75rem,
    font-scale-84 : 5.25rem,
    font-scale-92 : 5.75rem
);


$font-size-root:              null !default;
$font-size-base:              1rem !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.4 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              1.75 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

//--------------------

$hr-margin-y:                 $spacer !default;
$hr-color:                    $color-ui-line-300 !default;
$hr-height:                   1px !default;
$hr-opacity:                  1 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

// Links
//
// Style anchor elements.

$link-color:                              $black !default;
$link-decoration:                         none !default;
$link-hover-color:                        $black !default;
$link-hover-decoration:                   null !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;

$btn-font-family: "san-serif";
$btn-font-weight: 700;
$btn-line-height: 1.5em;
$btn-border-width : 1px;

//-------------------------------------

$border-width:                1px !default;
$border-color:                $color-ui-line-300 !default;

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;


// Tables
//
$table-cell-padding-y:        .5rem !default;
$table-cell-padding-x:        .5rem !default;
$table-cell-padding-y-sm:     .25rem !default;
$table-cell-padding-x-sm:     .25rem !default;

$table-cell-vertical-align:   top !default;

