
@import "./vars/variables";
@import "reboot";
@import "mixins";

@import "rfs";
@import "ratio";
@import "util";
//@import "bootstrap4_grid";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap');

//-------------------------------------
// Variables
//-------------------------------------

$color-body-ground : #ffffff;
$color-p-red : #CA1036;
$color-p-green : #68BA9E;
$color-p-amber: #E3943D;
$color-p-violet: #7775B6;
$color-text-deactive : #80898F;
$color-ui-line-1 : #373C41;
$color-ui-back-dark: #0B0E10;
$color-ui-line-dark: #252628;


// Typography
//
// Type Scale Set
// Xn = Xn-1 + {INT[(n-2)/4] + 1} * 2

$font-scale:(
    font-scale-12 : 0.75rem,
    font-scale-14 : 0.875rem,
    font-scale-16 : 1rem,
    font-scale-18 : 1.125rem,
    font-scale-20 : 1.25rem,
    font-scale-24 : 1.5rem,
    font-scale-28 : 1.75rem,
    font-scale-32 : 2rem,
    font-scale-36 : 2.25rem,
    font-scale-42 : 2.625rem,
    font-scale-48 : 3rem,
    font-scale-54 : 3.375rem,
    font-scale-60 : 3.75rem,
    font-scale-68 : 4.25rem,
    font-scale-76 : 4.75rem,
    font-scale-84 : 5.25rem,
    font-scale-92 : 5.75rem
);

// Breakpoint & duration

$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 1000px;
$bp-xl: 1360px;
$bp-xxl: 1700px;

$duration-s: 0.25s;
$duration-m: 0.4s;
$duration-l: 0.6s;
$easing-cubic: cubic-bezier(0.65, 0, 0.35, 1);

$gutter-base: 2rem; 

//------------------------------

@import "./components/buttons";
@import "header";
@import "layout";
@import "./components/card_basic";
@import "grid_test_1";

//------------------------------

.rfs-1{ font-size: map-get($font-scale, font-scale-68); }
.rfs-2{ font-size: map-get($font-scale, font-scale-60); }
.rfs-3{ font-size: map-get($font-scale, font-scale-48); }
.rfs-4{ font-size: map-get($font-scale, font-scale-42); }
.rfs-5{ font-size: map-get($font-scale, font-scale-36); }
.rfs-6{ font-size: map-get($font-scale, font-scale-32); }

//------------------------------


html:focus-within{
    scroll-behavior: smooth;    
}
body {
    background-color: $color-body-ground;
    font-family: "Noto Sans","Noto Sans KR", "Malgun Gothic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
    overflow-x: hidden; letter-spacing: -0.025em;
}
h1,h2,h3,h4,h5,h6,p {
    word-break: keep-all;
}
.container {
    position: relative; width:100%; margin: 0 auto;
    &.page-padding {
        padding:0;
    }
}


.btn-circle {
    position: fixed; width: 152px; height: 152px; z-index: 100;
    top: 120px; right: 40px; cursor: pointer; transition: top $duration-s;
    .back {
        position: absolute; width: 100%; height: 100%;
        background-image: url(../img/btn_circle.svg);
        animation: rotateBtn 14s infinite linear;
        animation-fill-mode: forwards;
    }
    .center {
        position: absolute; width: 114px; height: 114px; border-radius: 50%;
        top: 20px; left:20px; transition: background-color 0.25s;
        border: 1px solid rgba(0,0,0,0.1); background-color: rgba(255,255,255,0.6);
        p { 
            position: absolute; width:100%; height:36px; margin:auto; top:2px; bottom: 0;
            font-size: 15px; line-height: 1.2em; text-align: center;
            color:#000;font-weight: 700;
        }
        &:hover {
            background-color: #000;
            p{ color:#fff; }
        }
    }
    @keyframes rotateBtn{
        from { transform: rotate(0deg);}
        to { transform: rotate(359.9deg);}
    }
}
.wrap {
    position: relative; width: 100%; background-color: transparent;
}
#page-wrapper { background-color: transparent; }
.btn-page-top {
    position: fixed; width:50px; height: 50px; background-color: black; display: block;
    right:0; bottom: 80px; z-index: 100; opacity: 0; transition: opacity 0.3s;
    svg { position: absolute; margin: auto; left:0; right:0; top:0; bottom:0;}
}

//--------------------
.fixed { position: fixed;}

.grid-16col {
    display: grid; position: relative;
    grid-template-columns: repeat(16, 1fr);
}
.exhibition-special {
    grid-template-rows: repeat(18, 7vw);
    .card-basic {
        .card__thumbnail{
            overflow: visible;
        }
        figure {
            
            img {
                object-fit: cover;
                max-width: 100%; height: 100% !important;
            }
            .ex-cover {
                display: block; position: absolute; width: 100%; height: 100%;
                background-color: white; transform-origin: top center; top:0; left:0;
                transition: height 1s;
                &.is-active {
                    height: 0;
                }
            }   
        }
        .category-tag {
            top: 0; left:0; height: 32px; width: 80px;
            transform-origin: 0% 0%; transform: rotateZ(90deg); background-color: transparent;
            &::before {
                content: ''; display: block; position: absolute;
                width: 14px; height: 28px; background-image: url(../img/category_tag.svg);
                transform-origin: 0% 0%; transform: rotateZ(-90deg); 
                left:0; top:48px;
            }
        }
        .card__body {
            .title {
                font-size:map-get($font-scale, font-scale-28); letter-spacing: -0.05em;
            }
        }
    }
    #ex-special-1 { grid-column: 3/10; grid-row-start: 2;}
    #ex-special-2 { grid-column: 11/15; grid-row-start: 7;}
    #ex-special-3 { grid-column: 3/9; grid-row-start: 12;}
    #ex-special-4 { grid-column: 10/14; grid-row-start: 14;}    
}
.color-box {
    display: block; position: absolute; z-index: 10;
    width:100%; height:100%;
    &.color-box-1 {
        grid-column: 8/11; grid-row: 1/5;
        background-color: $color-p-red; mix-blend-mode: multiply;
        transform-origin: top center;
        //animation: boxReveal-1 2s; 
    }
    &.color-box-2 {
        grid-column: 14/16; grid-row: 5/8;
        background-color: $color-p-green; mix-blend-mode: multiply;
        transform-origin: top right;
        //animation: boxReveal-2 2s; 
    }
    &.color-box-3 {
        grid-column: 2/4; grid-row: 13/14;
        background-color: $color-p-amber; mix-blend-mode: multiply;
        transform-origin: top center;
        //animation: boxReveal-1 2s; 
    }
    &.color-box-4 {
        grid-column: 13/15; grid-row: 13/16;
        background-color: $color-p-violet; mix-blend-mode: multiply;
        transform-origin: top center;
        animation: boxLoop-1 6s; animation-iteration-count: infinite;
    }
}

.section-exhibition-special{
    position: relative; width: 100vw; min-height: 100vh; top: 100vh;
}
@keyframes boxLoop-1{
    0%{ transform: scaleY(0.1); }
    50%{ transform: scaleY(1); }
    100%{ transform: scaleY(0.1); }
}
@keyframes boxReveal-1{
    0%{ transform: scaleY(0); }
    100%{ transform: scaleY(1); }
}
@keyframes boxReveal-2{
    0%{ transform: scaleX(0); }
    100%{ transform: scaleX(1); }
}
//--------------------

.section-a-1 {
    position: relative; width: 100vw; min-height: 100vh; 
}
.section-a-2 {
    position: relative; width: 100vw; height: 100vh; max-height: 840px;
    .inner-wrap {
        width: 87.5vw; display: grid; margin: 180px auto 100px auto;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }
    .card-ex-long{
        position: relative; width:100%; min-height: 20vh;
        @include backImageCover; padding: $spacer-l1;
        &::after {
            content:''; display: block; width: 100%; height: 100%;
            position: absolute; top:0; left:0;
            background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 15%,rgba(0,0,0,0.2) 70%);
        }
        &#ex-long-1{ background-image:url(../img/dummy/a_card_long_1.png); }
        &#ex-long-2{ background-image:url(../img/dummy/a_card_long_2.png); }
        &#ex-long-3{ background-image:url(../img/dummy/a_card_long_3.png); }
        &#ex-long-4{ background-image:url(../img/dummy/a_card_long_4.png); }
        .inner {
            position: absolute; width:100%; height: 100%; top:0; left:0;
            color:white; z-index: 10;
            h4{
                padding: 0 $spacer-l1 0 $spacer-l2;
            }
            .detail-info{
                padding: $spacer-l2 $spacer-l2 0 $spacer-l2; margin-top: $spacer-l1;
                font-size: map-get($font-scale, font-scale-16);
                display: flex; align-items: center; padding-top: $spacer-s2;
                .divide {
                    display: inline-block; width:1px; height: $spacer;
                    background-color: white; margin:2px $spacer 0 $spacer;
                    opacity: 0.3;
                }
            }
        }
    }
    .a-back-copy {
        position: absolute; top: -140px;
    }
}
@media (min-width: $bp-xl) {
    .section-a-2 {
        .inner-wrap{
            grid-gap: 32px; 
        }
        .card-ex-long{           
            padding: $spacer-l2;     
        }
    }
}
.section-a-3{
    position: relative; width: 100vw; padding: 0;
    display: flex;
    .inner-wrap {
        width: 87.5vw; margin:0 auto;
        padding: 1px; background-color:black;
        .text-ani-cell{
            position: relative; background-color: black; overflow: hidden;
        }
    }  
}
.grid-line-box {
    width:100%; display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 15vw); gap:1px;
    .cell {
        position: relative; background-color: white;
    }
    .lottie-wrap {
        width: 120%; overflow: hidden;
        position: absolute;
        left:50%; 
        transform: translateX(-50%) translateY(-6%);
    }
}
#line-box-1 {
    .cell-1{ grid-column: 1/3; grid-row: 1/3; }
    .cell-2{ 
        grid-column: 3/4; grid-row: 1/2;
        background-color: $color-p-red; color:white;
        h6{ font-size: map-get($font-scale, font-scale-32); padding: $spacer-l2; }
    }
    .cell-3{ grid-column: 4/5; grid-row: 1/2; }
    .cell-4{ grid-column: 5/7; grid-row: 1/2; }
    .cell-5{ grid-column: 3/5; grid-row: 2/3; }
    .cell-6{ 
        grid-column: 5/7; grid-row: 2/4; overflow: hidden;
        #lottie-2{
            background-color: black;
        }
    }
    .cell-7{ grid-column: 1/2; grid-row: 3/4; }
    .cell-8{ grid-column: 2/4; grid-row: 3/4; }
    .cell-9{ grid-column: 4/5; grid-row: 3/4; }
    .cell-10{ 
        grid-column: 1/3; grid-row: 4/5;
        background-color: black; color:white; overflow: hidden;
        h6{ 
            font-size: map-get($font-scale, font-scale-32); padding: $spacer-l2;
            position: absolute; z-index: 2;
        } 
    }
    .cell-11{ grid-column: 2/3; grid-row: 4/5; }
    .cell-12{ grid-column: 3/4; grid-row: 4/5; }
    .cell-13{ grid-column: 4/6; grid-row: 4/5; }
    .cell-14{ grid-column: 6/7; grid-row: 4/5; }
    .program-card {
        padding: 1rem 1rem;
        img { max-width: 100%;}
    }
}
.section-map{
    position: relative; width: 100vw; height: 100vh; max-height: 960px; min-height: 900px;
    background-color: #F3F0F0; padding: 8rem 0; margin: 10rem 0;
    .map-wrap{
        width:100%; max-width: 1348px; position: absolute;
        left: calc(50% - 700px); 
        .map-img {
            max-width: 100%;
        }
    }
}
.section-a-4 {
    position: relative; width: 87.5vw; margin: 0 auto;
    .full-img {
        max-width: 100%;
    }
}
.section-back-color {
    position: fixed; width: 100vw; height: 100vw; top:0; left:0;
    background-color: #fff; z-index: -1;
}
.section-a-sitemap{
    position: relative; width: 100%; padding: 5rem 0 4rem 0;
    .sitemap-wrap{
        width: 70vw; margin: 0 auto;
        display: grid; justify-content: center;
        grid-template-columns: repeat(6, 1fr);
        ul{
            width:100%; max-width: 160px; font-size: map-get($font-scale, font-scale-18 );
            font-weight: bold;
            li{
                a{
                    font-size: map-get($font-scale, font-scale-16 ); font-weight: normal;
                }
            }
        }
    }
}
.footer-a {
    position: relative; width: 87.5vw; border-top: 2px solid black;
    padding-top: 1rem; margin: 0 auto;
    .row-1 {
        width: 100%; position: relative;
        .footer-1 {
            width: 409px; margin-top: 6px;
        }
        .footer-2 {
            position: absolute; width: 444px; right:0;
        }
    }
    .row-2 {
        width: 100%; position: relative; border-top: 1px solid #DDDDDD;
        padding: $spacer 0 $spacer-l4 0; margin-top: $spacer-l2;

        .footer-3 {
            width: 205px; 
        }
        .footer-4 {
            position: absolute; width: 400px; right:0;
        }
    }
}
//----------------------------

.hero-ex-wrap {
    position: relative; width: 100vw; height: calc(100vh - 110px); max-height: 760px;
    .hero-slide {
        @include backImageCover; position: absolute; width:100%; height: 100%;
        &#hero-ex-1 { background-image: url(../img/b_hero_1.png);}
        .slide-right-wrap{
            position: absolute; width: 100%; height: 100%; min-width: 400px;
            top:0; right:0; backdrop-filter: blur(10px);
            background-color: rgba(255,255,255,1);
            .slide-right-title-wrap{
                position: absolute; width: 100%; height: 100%; right:-100%;
                padding: 4.5rem;
                .title-img {
                    max-width: 100%; max-height: 420px;
                }
                .btn-reserve {
                    display:block; width: calc(100% - 9rem); height: 94px;
                    background-color: white; border: 1px solid black;
                    position: absolute; bottom:4.5rem; 
                    p { font-size: 20px; padding: 2rem 0 0 2rem; font-weight: bold;}
                    &::after {
                        content:''; display: block; position: absolute;
                        width: 106px; height: 19px; margin: auto; top:0; bottom: 0; right: 1.5rem;
                        @include backImageCover;
                        background-image:url(../img/b_hero_arrow.svg);
                    }
                }
            }
        }
    }
    
}
//----------------------------

.slider-frame{
    position: relative; margin: 0 auto; 
    
    .slider-container{
        transition: margin-left .2s ease, left .5s ease;
        position: absolute; left: 0;
        .slide{
            position: relative; float: left; top: 0;
            transition: width .2s ease, height .2s ease, top .2s ease;
            cursor: pointer;
            .slide-inner{
                position: absolute; width:100%; height:100%; padding: 0 18px;
                display: flex; flex-direction: column;
                &:hover .thumb .card-detail-wrap {
                    opacity: 1;
                }
                .thumb{
                    position: relative; @include backImageCover; padding-top: 146%;
                    border:1px solid #CECECE;
                    .card-detail-wrap{
                        position: absolute; width:100%; height: 70px; bottom:0;
                        transition: opacity 0.2s; opacity: 0;
                        background-color:rgba(0,0,0,0.7);
                        .card-btn{
                            position: absolute; width:88px; height: 40px; @include backImageCover;
                            right: 16px; bottom:16px;
                            background-image: url(../img/card_share.png);
                        }
                    }
                    &#poster-thumb-01 { background-image: url(../img/dummy/poster_01.png); }
                    &#poster-thumb-02 { background-image: url(../img/dummy/poster_02.png); }
                    &#poster-thumb-03 { background-image: url(../img/dummy/poster_03.png); }
                    &#poster-thumb-04 { background-image: url(../img/dummy/poster_04.png); }
                    &#poster-thumb-05 { background-image: url(../img/dummy/poster_05.png); }
                    &#poster-thumb-06 { background-image: url(../img/dummy/poster_06.png); }
                    &#poster-thumb-07 { background-image: url(../img/dummy/poster_07.png); }
                    &#poster-thumb-08 { background-image: url(../img/dummy/poster_08.png); }
                    &#poster-thumb-09 { background-image: url(../img/dummy/poster_09.png); }
                    }
                    
                }
                .card-title-wrap{
                    position: relative; width:100%; transform-origin: 0% 0%; 
                    transition: transform 0.2s; 
                    p{ 
                        color:#fff; font-size: 18px; font-weight: 700; width:90%;
                        padding: 1rem 0; line-height: 1.2em; transition: all 0.2s;
                    }
                    img { max-width: 100%; margin-top: 16px; }    
                }
                
            }
        }
    }
.slider-title-wrap{
    position: relative; width:100%; height: 150px; padding: 6rem 0 0 5rem;
    &.second {
        //margin-top: 19rem;
    }
    .btn{
        width: 56px; height:56px; background: white;
        position: absolute; z-index: 1000; cursor: pointer;
        border: 1px solid black; border-radius: 50%; bottom: 0.5rem;
        &:after{
            content:''; display: block; width: 13px; height: 20px;
            position: absolute; margin:auto; top:0; bottom:0; left:0; right:0; 
            background-image: url(../img/icon_slide_next.svg);
            background-repeat: no-repeat; 
            background-size: 100%; transform-origin: 50%;
        }
        &.next{ right: 2rem; }
        &.prev{ 
            right: 6.25rem; 
            &:after{
                transform: rotate(180deg); 
            }            
        }        
    }
}

.slider-divider {
    display: block; width: 100%; height: 1px; border-bottom: 1px solid #000;
    margin: 1.25rem 0 1.5rem 70px; 
}
.section-b-2 {    
    position: relative; width:100%; min-height:50vh; margin-top: 26rem;
    overflow: hidden;
    .divide-line{
        display: block; width:100%; height:1px; background-color: black;
        opacity: .2;
    }
    .inner-wrap { 
        width: 120vw; min-width: 1600px; display: flex; flex-wrap: nowrap;
        margin-left: 5rem; margin-top: $spacer-l2;
        .divide-line {
            display: block; width: 1px; height:100%;
            background-color: gray;
        }
        .b-2-card {
            position: relative; width: 20vw; margin-left: 45px;
            &:nth-child(1){ margin-left: 0;}
            img{ max-width: 100%; }
            &::after {
                content:''; display: block;
                width:1px; height: 110%; position: absolute;
                background-color: #D8D8D8; top:0; right:-22.5px;
            }
        }
    }
}
.section-b-3 {
    position: relative; width: 100%; margin-top: 10rem; min-height: 100vh;
    display: grid; grid-template-columns: repeat(12, 1fr);
    gap: $spacer; border: $spacer solid black; background-color: black;
    .cell { position: relative; width: 100%; @include backImageCover; overflow: hidden;}
    .cell-1 {
        grid-column: 1/5; height: 324px; background-color: #2E2D2D;
        display: flex; align-items: center; justify-content: center; padding:$spacer-l2;
        .notice { max-width: 100%; width:485px; }
    }
    .cell-2 {
        grid-column: 5/9; height: 324px; background-color: black;
        border:1px solid #424242;
        background-image: url(../img/b_kid_back.png); background-size: 408px 245px;
        background-position: bottom right;
        h3{ color:white; padding: $spacer-l3; }
    }
    .cell-3 {
        grid-column: 9/13; height: 324px; background-color: #B88340;
        display: flex; align-items: center; justify-content: center; padding:$spacer-l2;
        img { max-width: 100%; width: 518px; }

    }
    .cell-4 {
        grid-column: 1/13; height: 940px; text-align: center; background-color: #6C7173;
        img{ max-width: 1468px; width: 100%; margin-top: 7rem; }
    }
    .cell-5 {
        grid-column: 1/7;
        background-image: url(../img/b_story_back.png); height: 800px;
        .story-title {
            width:340px; padding: 4rem 0 0 4rem;
        }
    }
    .cell-6 {
        grid-column: 7/13; 
        background-image: url(../img/b_location.png); height: 800px;
    }
}
//----------------------------
