
//-------------------------------------
// 한글,영문 기본서체

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

//-------------------------------------
// Design Systme 기본변수, Reset, 반복 사용되는 Mixins

@import "variables";
@import "reboot";
@import "mixins";
@import "util";

//------------------------------
// 공통 스타일

@import "responsive_grid";
@import "ratio";
@import "rfs";

//------------------------------
// Components 스타일

@import "./components/buttons";
@import "header";
@import "layout";
@import "items_card";
@import "gallery";
@import "./components/card_basic";

//------------------------------
// 메뉴별 별도 스타일

@import "exhibition";
@import "library";

//------------------------------
// 티저 사이트

@import "teaser";

//------------------------------
// 

html:focus-within{ scroll-behavior: smooth; }
body {
    font-family: "Noto Sans","Noto Sans KR", "Malgun Gothic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
    overflow-x: hidden; letter-spacing: -0.025em; color:$color-text-base;
}
h1,h2,h3,h4,h5,h6,p { word-break: keep-all; }

//------------------------------
// Responsive Grid 세부 설정

.container {
    position: relative; width:100%; margin: 0 auto;
    
    &.col-padding--base > .container__row > .col,
    &.col-padding--base > .container__row > [class*="col-"] {
        padding: 0 6px;
    }
    @media (min-width: $bp-md) {
        &.col-padding--base > .container__row > .col,
        &.col-padding--base > .container__row > [class*="col-"] {
            padding: 0 8px;
        }
    }
    @media (min-width: $bp-lg) {
        &.col-padding--base > .container__row > .col,
        &.col-padding--base > .container__row > [class*="col-"] {
            padding: 0 12px;
        }
    }
    @media (min-width: $bp-xl) {
        &.col-padding--base > .container__row > .col,
        &.col-padding--base > .container__row > [class*="col-"] {
            padding: 0 16px;
        }
    }
    @media (min-width: $bp-xxl) {
        &.col-padding--base > .container__row > .col,
        &.col-padding--base > .container__row > [class*="col-"] {
            padding: 0 20px;
        }
    }
    &.col-padding--zero {
        padding:0 0;
    }
    @media (min-width: $bp-md) {
        &.col-padding--zero { 
            padding:0 8px; 
        }  
    }
    @media (min-width: $bp-lg) {
        &.col-padding--zero { 
            padding:0 12px;
        }  
    }
    @media (min-width: $bp-xl) {
        &.col-padding--zero { 
            padding:0 16px;
        }  
    }
    @media (min-width: $bp-xxl) {
        &.col-padding--zero { 
            padding:0 20px;            
        }  
    }
    &.col-padding--small > .container__row > .col,
    &.col-padding--small > .container__row > [class*="col-"] {
        padding: 0 2px;
    }
    &.col-padding--small {
        &.container {
            padding: 0 12px;
        }
    }
    @media (min-width: $bp-md) {
        &.col-padding--small > .container__row > .col,
        &.col-padding--small > .container__row > [class*="col-"] {
            padding: 0 4px;
        } 
    }
    @media (min-width: $bp-lg) {
        &.col-padding--small > .container__row > .col,
        &.col-padding--small > .container__row > [class*="col-"] {
            padding: 0 6px;
        } 
    }
    @media (min-width: $bp-xl) {
        &.col-padding--small > .container__row > .col,
        &.col-padding--small > .container__row > [class*="col-"] {
            padding: 0 8px;
        } 
    }
    &.col-padding--big > .container__row > .col,
    &.col-padding--big > .container__row > [class*="col-"] {
        padding: 0 12px;
    }
}
.container--wrapper{
    position: relative; width:100%; margin: 0 auto;
    padding: 0 8px;
    @media (min-width: $bp-sm) {
        padding: 0 16px;
    }
    @media (min-width: $bp-md) {
        padding: 0 24px;
    }
    @media (min-width: $bp-lg) {
        padding: 0 44px;
    }
    @media (min-width: $bp-xl) {
        padding: 0 96px;
    }
    @media (min-width: $bp-xxl) {
        padding: 0 128px;
    }
}

//------------------------------
// Page 공통

.wrap { 
    position: relative; width: 100%; max-width: $page-max-width; margin: 0 auto; 
}
.page-wrap {
    position: relative; width: 100%; margin: 0 auto; 
    border-top: 1px solid $color-ui-line-100;
}

//------------------------------
// Home

.btn-circle {
    position: absolute; width: 152px; height: 152px; z-index: 100;
    top: 130px; right: 24px; cursor: pointer; transition: top $duration-s;
    .back {
        position: absolute; width: 100%; height: 100%;
        background-image: url(../img/btn_circle.svg);
        animation: rotateBtn 14s infinite linear;
        animation-fill-mode: forwards;
    }
    .center {
        position: absolute; width: 114px; height: 114px; border-radius: 50%;
        top: 20px; left:20px; transition: background-color 0.25s;
        border: 1px solid rgba(0,0,0,0.1); background-color: rgba(255,255,255,0.6);
        p { 
            position: absolute; width:100%; height:36px; margin:auto; top:2px; bottom: 0;
            font-size: 15px; line-height: 1.2em; text-align: center;
            color:#000;font-weight: 700;
        }
        &:hover {
            background-color: #000;
            p{ color:#fff; }
        }
    }
    @keyframes rotateBtn{
        from { transform: rotate(0deg);}
        to { transform: rotate(359.9deg);}
    }
}


.btn-page-top {
    position: fixed; width:50px; height: 50px; background-color: black; display: block;
    right:0; bottom: 80px; z-index: 200; opacity: 0; transition: opacity 0.3s;
    svg { position: absolute; margin: auto; left:0; right:0; top:0; bottom:0;}
}

.footer{
    position: relative; width: 100%; 
    padding-top: 1rem; margin: 0 auto; background-color: $color-ui-solid-300;
    border-top: 1px solid #404040;
    &::after {
        content: ''; display: block; position: absolute;
        width:100%; height: 1px; background-color: #404040;
        top: 70px;
    }
    .row-1 {
        width: 84%; position: relative; margin:0 auto;
        .footer-1 {
            width: 409px; margin-top: 6px;
        }
        .footer-2 {
            position: absolute; width: 444px; right:0;
        }
    }
    .row-2 {
        width: 84%; position: relative;
        padding: $spacer-l2 0 $spacer-layout-7x 0; margin: $spacer-l2 auto 0 auto; 

        .footer-3 {
            width: 395px; 
        }
        .footer-4 {
            position: absolute; width: 400px; right:0;
        }
    }
}

.footer-sitemap{
    position: relative; width: 100%; padding: 5rem 0 4rem 0;
    background-color: $color-ui-solid-300; color: $white; // margin-top: $spacer-layout-7x;
    .sitemap-wrap{
        width: 70vw; margin: 0 auto;
        display: grid; justify-content: center;
        grid-template-columns: repeat(7, 1fr);
        ul{
            width:100%; max-width: 160px; font-size: map-get($font-scale, font-scale-18 );
            font-weight: bold;
            li{
                a{
                    font-size: map-get($font-scale, font-scale-16 ); font-weight: normal;
                    color:$white; line-height: 2em;
                }
            }
        }
    }
}

//--------------------

.page-row-padding { padding:0 $spacer*7; }
.page-vertical-padding { padding:$spacer*7 0; }

.grid-16col {
    display: grid; position: relative;
    grid-template-columns: repeat(16, 1fr);
}
.flexbox-container {
    position: relative; width: 100%; margin: 0 auto 10rem auto; max-width: $page-max-width;
    display: grid;  grid-template-columns: repeat(3, 1fr);
    justify-content: space-around; 
}
.nav-bar-2level {
    width: 100%; margin: 2rem auto; text-align: center;
    ul{ 
        li{
            display: inline-block; line-height: $spacer-l3; margin:0 $spacer;
            a{ 
                position: relative; font-size: map-get($font-scale, font-scale-24); 
                color: $color-text-300;
                &::after {
                    content:''; display: block; position: absolute;
                    width: 0%; height: 3px; background-color: $color-p-red;
                    bottom: -7px; transition: width 0.25s; z-index: -1;
                }
                &.active {
                    color:$color-text-base; font-weight: bold;
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.nav-bar-3level {
    width: 100%; margin: 2rem auto; text-align: center;
    ul{ 
        li{
            display: inline-block; line-height: $spacer-l2; margin:0; padding: 0 $spacer*5;
            border-top:1px solid $color-ui-line-100;
            border-bottom:1px solid $color-ui-line-100;
            border-right:1px solid $color-ui-line-100; 
            border-left:1px solid $color-ui-line-100;
            &:nth-child(2n){ border-right: 0px; border-left: 0px; }                   
            &.active {
                color:$color-text-base; font-weight: bold;
                border: 1px solid $black;
                a {
                    color: $color-text-base;
                }                   
            }
            
            a{ 
                position: relative; font-size: map-get($font-scale, font-scale-16); 
                display: block; line-height: 3.5em; 
                color: $color-text-300;
                
            }
        }
    }
}
//--------------------

.section-a-1 {
    position: relative; width: 100vw; min-height: 100vh; 
}

.section-a-3{
    position: relative; width: 100vw; padding: 0;
    display: flex;
    .inner-wrap {
        width: 87.5vw; margin:0 auto;
        padding: 1px; background-color:black;
        .text-ani-cell{
            position: relative; background-color: black; overflow: hidden;
        }
    }
    .inner-wrap {
        width: 87.5vw; margin:0 auto;
        padding: 0; background-color:black;
        .text-ani-cell{
            position: relative; background-color: black; overflow: hidden;
        }
    } 
}
.grid-line-box {
    width:100%; display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 15vw); gap:1px;
    .cell {
        position: relative; background-color: white;
    }
    .lottie-wrap {
        width: 120%; overflow: hidden;
        position: absolute;
        left:50%; 
        transform: translateX(-50%) translateY(-6%);
    }
}
#line-box-1 {
    .cell-1{ grid-column: 1/3; grid-row: 1/3; }
    .cell-2{ 
        grid-column: 3/4; grid-row: 1/2;
        background-color: $color-p-red; color:white;
        h6{ font-size: map-get($font-scale, font-scale-32); padding: $spacer-l2; }
    }
    .cell-3{ grid-column: 4/5; grid-row: 1/2; }
    .cell-4{ grid-column: 5/7; grid-row: 1/2; }
    .cell-5{ grid-column: 3/5; grid-row: 2/3; }
    .cell-6{ 
        grid-column: 5/7; grid-row: 2/4; overflow: hidden;
        #lottie-2{
            background-color: black;
        }
    }
    .cell-7{ grid-column: 1/2; grid-row: 3/4; }
    .cell-8{ grid-column: 2/4; grid-row: 3/4; }
    .cell-9{ grid-column: 4/5; grid-row: 3/4; }
    .cell-10{ 
        grid-column: 1/3; grid-row: 4/5;
        background-color: black; color:white; overflow: hidden;
        h6{ 
            font-size: map-get($font-scale, font-scale-32); padding: $spacer-l2;
            position: absolute; z-index: 2;
        } 
    }
    .cell-11{ grid-column: 2/3; grid-row: 4/5; }
    .cell-12{ grid-column: 3/4; grid-row: 4/5; }
    .cell-13{ grid-column: 4/6; grid-row: 4/5; }
    .cell-14{ grid-column: 6/7; grid-row: 4/5; }
    .program-card {
        padding: 1rem 1rem;
        img { max-width: 100%;}
    }
}
.section-map{
    position: relative; width: 100vw; height: 100vh; max-height: 960px; min-height: 900px;
    background-color: #F3F0F0; padding: 8rem 0; margin: 10rem 0;
    .map-wrap{
        width:100%; max-width: 1348px; position: absolute;
        left: calc(50% - 700px); 
        .map-img {
            max-width: 100%;
        }
    }
}

.section-back-color {
    position: fixed; width: 100vw; height: 100vw; top:0; left:0;
    background-color: #fff; z-index: -1;
}


//----------------------------

.hero-ex-wrap {
    position: relative; width: 100%; height: calc(100vh - 110px); max-height: 760px;
    margin:0 auto; overflow: hidden;
    .hero-slide {
        @include backImageCover; position: absolute; width:100%; height: 100%;
        &#hero-ex-1 { background-image: url(../img/b_hero_1.png);}
        .slide-right-wrap{
            position: absolute; width: 100%; height: 100%; min-width: 400px;
            top:0; right:0; backdrop-filter: blur(10px);
            background-color: rgba(255,255,255,1);
            .slide-right-title-wrap{
                position: absolute; width: 100%; height: 100%; right:-100%;
                padding: 4.5rem;
                .title-img {
                    max-width: 100%; max-height: 420px;
                }
                .btn-reserve {
                    display:block; width: calc(100% - 9rem); height: 94px;
                    background-color: white; border: 1px solid black;
                    position: absolute; bottom:4.5rem; 
                    p { font-size: 20px; padding: 2rem 0 0 2rem; font-weight: bold;}
                    &::after {
                        content:''; display: block; position: absolute;
                        width: 106px; height: 19px; margin: auto; top:0; bottom: 0; right: 1.5rem;
                        @include backImageCover;
                        background-image:url(../img/b_hero_arrow.svg);
                    }
                }
            }
        }
    }
    .slider-control { 
        position: absolute; width: 283px; 
        left: 0; bottom: 0;
        img { max-width: 100%;}
    }
    
}
//----------------------------

.slider-frame{
    position: relative; margin: 0 auto;  width:100%; height: auto; padding: 2rem 0 14rem 0;
    overflow: hidden; max-width: $page-max-width; margin-bottom: 8rem;
    //border: 1px solid red;
    
    .slider-container{
        position: relative; left: 0; width:100%; height: 100%; display: flex;
        .slide{
            position: relative; top: 0; width: calc(25% - 70px); min-height: calc(20vw + 100px);
            cursor: pointer; transform-origin: top center; flex-shrink: 0;
            transition: transform $duration-s;
            //border: 1px solid red;
            &:nth-child(1){
                margin-left: calc(100vw / 16);
            }
            &:hover {
                transform: scale(1.075);
            }
            .slide-inner{
                position: absolute; width:100%; height:100%; padding-right: 48px;
                display: flex; flex-direction: column;
                &:hover .thumb .card-detail-wrap {
                    opacity: 1;
                }
                .thumb{
                    position: relative; @include backImageCover; padding-top: 146%;
                    border:1px solid #CECECE; width:100%;
                    
                    .card-detail-wrap{
                        position: absolute; width:100%; height: 70px; bottom:0;
                        transition: opacity 0.2s; opacity: 0;
                        background-color:rgba(0,0,0,0.7);
                        .card-btn{
                            position: absolute; width:88px; height: 40px; @include backImageCover;
                            right: 16px; bottom:16px;
                            background-image: url(../img/card_share.png);
                        }
                    }
                    &#poster-thumb-01 { background-image: url(../img/dummy/poster_01.png); }
                    &#poster-thumb-02 { background-image: url(../img/dummy/poster_02.png); }
                    &#poster-thumb-03 { background-image: url(../img/dummy/poster_03.png); }
                    &#poster-thumb-04 { background-image: url(../img/dummy/poster_04.png); }
                    &#poster-thumb-05 { background-image: url(../img/dummy/poster_05.png); }
                    &#poster-thumb-06 { background-image: url(../img/dummy/poster_06.png); }
                    &#poster-thumb-07 { background-image: url(../img/dummy/poster_07.png); }
                    &#poster-thumb-08 { background-image: url(../img/dummy/poster_08.png); }
                    &#poster-thumb-09 { background-image: url(../img/dummy/poster_09.png); }
                    }
                    
                }
                .card-title-wrap{
                    position: relative; width:100%; transform-origin: 0% 0%; 
                    transition: transform 0.2s; 
                    p{ 
                        color:#fff; font-size: 18px; font-weight: 700; width:90%;
                        padding: 1rem 0; line-height: 1.2em; transition: all 0.2s;
                    }
                    img { max-width: 100%; margin-top: 16px; }    
                }
                
            }
        }
    }
.slider-title-wrap{
    position: relative; width:88%; margin: auto; margin-top: $spacer-layout-6x;
    
    .btn{
        width: 56px; height:56px; background: white;
        position: absolute; z-index: 1000; cursor: pointer;
        border: 1px solid black; border-radius: 50%; bottom: 0.5rem;
        &:after{
            content:''; display: block; width: 13px; height: 20px;
            position: absolute; margin:auto; top:0; bottom:0; left:0; right:0; 
            background-image: url(../img/icon_slide_next.svg);
            background-repeat: no-repeat; 
            background-size: 100%; transform-origin: 50%;
        }
        &.next{ right: 2rem; }
        &.prev{ 
            right: 6.25rem; 
            &:after{
                transform: rotate(180deg); 
            }            
        }        
    }
}

.slider-divider {
    display: block; width: 100%; height: 1px; border-bottom: 1px solid #000;
    margin: 1.25rem 0 1.5rem 70px; 
}

.home-section-3 {
    position: relative; width: 100%; margin-top: 10rem; min-height: 100vh;
    display: grid; grid-template-columns: repeat(12, 1fr);
    gap: $spacer; border: $spacer solid black; background-color: black;
    .cell { position: relative; width: 100%; @include backImageCover; overflow: hidden;}
    .cell-1 {
        grid-column: 1/5; height: 324px; background-color: #1D1D1D;
        border:1px solid #424242;
        display: flex; align-items: center; justify-content: center; padding:$spacer-l2;
        .notice { max-width: 100%; width:485px; }
    }
    .cell-2 {
        grid-column: 5/9; height: 324px; background-color: #1D1D1D;
        border:1px solid #424242;
        background-image: url(../img/b_kid_back.png); background-size: 408px 245px;
        background-position: bottom right;
        h3{ color:white; padding: $spacer-l3; }
    }
    .cell-3 {
        grid-column: 9/13; height: 324px; background-color: #836846;
        display: flex; align-items: center; justify-content: center; padding:$spacer-l2;
        img { max-width: 96%; width: 480px; }

    }
    .cell-4 {
        grid-column: 1/13; height: 940px; text-align: center; background-color: #6C7173;
        img{ max-width: 1348px; width: 100%; margin-top: 6.5rem; }
    }
    .cell-5 {
        grid-column: 1/7;
        background-image: url(../img/b_story_back.png); height: 800px;
        .story-title {
            width:340px; padding: 4rem 0 0 4rem;
        }
    }
    .cell-6 {
        grid-column: 7/13; 
        background-image: url(../img/b_location.png); height: 800px;
        .parking-guide {
            position: absolute; width: 100%; height: 146px;
            left:0; bottom:0; background-color: rgba(0,0,0,0.6);
            p { 
                color: $white; padding: 3.25rem 0 0 8rem;
            }
            .pictogram {
                position: absolute; width: 64px; height: 64px; top: 2.5rem; left:2.5rem;
                img { max-width: 100%;}
            }
        }
    }
}
//----------------------------
// sample

.sample-wrap{
    >.hero-wrap{
        position: relative; width:100%; height: 600px;
        background-color: darken($color-p-violet, 20%);
        h1 { 
            color:$white; font-size: map-get($font-scale, font-scale-68);
        }
        .hero-graphic {
            display: block; position: absolute; width: 400px; height: 400px;
            border-radius: 50%; top: 100px; left: 60%;
            background-color: $color-p-violet;
        }
    }
    >.section-1{
        width: 100%;  margin-top: $spacer-layout-4x; overflow: hidden;
        h4 { margin-top: $spacer-layout-8x;}
    }
    >.section-2 {
        width: 100%; height: 100vh; @include backImageCover;
        background-image: url(../img/dummy/wallpaper_01.png);
    }
}