@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
  text-align: left;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

main {
  display: block;
}

hr {
  margin: 1rem 0;
  color: #dee2e6;
  background-color: #dee2e6;
  border: 0;
  opacity: 0.25;
}

pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol, ul {
  padding-left: 0;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

li {
  list-style: none;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875rem;
}

mark {
  padding: .2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000;
  text-align: left;
}

th {
  font-weight: 400;
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: normal;
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

details {
  display: block;
}

template {
  display: none;
}

.btn {
  display: inline-block;
  font-family: "san-serif";
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}

.card-news-coverbackimage .back-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1), -webkit-transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-news-coverbackimage .back-image::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.card-news-coverbackimage .back-image::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.56) 70%, rgba(0, 0, 0, 0.8) 100%);
}

.card-news-coverbackimage .text-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  -webkit-transition: bottom 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transition: bottom 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  padding: 0 calc(1.325rem + 0.9vw) 1.25rem calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .card-news-coverbackimage .text-box {
    padding: 0 2rem 1.25rem 2rem;
  }
}

.card-news-coverbackimage .text-box .category {
  position: relative;
  font-size: 0.825rem;
  line-height: 2em;
  margin-bottom: 1.25rem;
}

.card-news-coverbackimage .text-box .category::after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  bottom: -5px;
  background-color: #B6082E;
}

.card-news-coverbackimage .text-box .title {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .card-news-coverbackimage .text-box .title {
    font-size: 1.5rem;
  }
}

.card-news-coverbackimage:hover .back-image {
  -webkit-transform: scale3D(1.2, 1.2, 1);
          transform: scale3D(1.2, 1.2, 1);
}

.card-news-coverbackimage:hover .back-image::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-news-coverbackimage:hover .text-box {
  bottom: 5%;
}

.card-video-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-video-basic .thumb {
  position: relative;
  width: 100%;
  height: auto;
}

.card-video-basic .thumb img {
  max-width: 100%;
}

.card-video-basic .time-tag {
  position: absolute;
  width: 84px;
  height: 28px;
}

.card-video-basic .text-box {
  position: relative;
  width: 100%;
  height: 150px;
  padding: 1.25rem calc(1.325rem + 0.9vw) 1.25rem calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .card-video-basic .text-box {
    padding: 1.25rem 2rem 1.25rem 2rem;
  }
}

.card-video-basic .text-box .title {
  font-size: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 99999;
  font-family: "Mark Pro Heavy";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  display: block;
  position: absolute;
  width: 49px;
  height: 40px;
  margin: auto;
  left: 0;
  right: 0;
  background-size: cover;
  background-image: url(../img/common/logo_esport.png);
}

.header .burger-menu-wrap {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 10px;
}

.header .burger-menu-wrap .burger-inner {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header .burger-menu-wrap .burger-inner span {
  display: block;
  width: 24px;
  height: 4px;
  background-color: white;
  margin: 8px 0;
}

.header .burger-menu-wrap .burger-inner span:nth-child(1) {
  margin-top: 4px;
}

.header .menu-wrap {
  position: absolute;
  left: 140px;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(1rem / 1.5);
  display: none;
}

.header .menu-wrap li {
  display: inline-block;
  height: 2rem;
  margin-right: 2rem;
  position: relative;
}

.header .menu-wrap li a {
  display: inline-block;
  color: #80898F;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2.5em;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.header .menu-wrap li a::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #B6082E;
  bottom: -6px;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

.header .menu-wrap li a:hover {
  color: white;
}

.header .menu-wrap li a:hover::after {
  width: 100%;
}

.header .menu-wrap li a.active {
  color: white;
  pointer-events: none;
}

.header .menu-wrap li a.active::after {
  width: 100%;
}

.header .header-right-wrap {
  position: absolute;
  height: 2.5rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

.header .header-right-wrap .event-link {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2.5em;
  margin-right: 1rem;
  padding-right: 24px;
  display: none;
}

.header .header-right-wrap .event-link::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/common/icon_outlink.svg);
}

.header .header-right-wrap .btn-lang {
  width: 24px;
  height: 24px;
  background-image: url(../img/common/icon_global.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1000px) {
  .header {
    height: 90px;
  }
  .header .logo {
    width: 73px;
    height: 60px;
    left: 2rem;
    right: auto;
  }
  .header .burger-menu-wrap {
    display: none;
  }
  .header .menu-wrap {
    display: block;
  }
  .header .header-right-wrap .event-link {
    display: block;
  }
}

@media (min-width: 1360px) {
  .header {
    height: 110px;
  }
  .header .menu-wrap {
    margin-top: 1rem;
  }
  .header .header-right-wrap {
    margin-top: 0.25rem;
  }
}

.sub-header-wrap {
  position: relative;
  width: 100%;
  height: 132px;
  border-bottom: 2px solid #B6082E;
}

.sub-header-wrap .back-gradient {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sub-header-wrap .back-gradient.pgis {
  background: -webkit-gradient(linear, left top, right top, from(#FF01A0), color-stop(#00DEF4), color-stop(#006FFF), to(#FF01A0));
  background: linear-gradient(90deg, #FF01A0, #00DEF4, #006FFF, #FF01A0);
  background-size: 300% 300%;
  -webkit-animation: BackMove 6s ease infinite;
          animation: BackMove 6s ease infinite;
}

.sub-header-wrap .back-pattern {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
  background-size: cover;
  opacity: 0.95;
}

.sub-header-wrap .back-pattern.pgis {
  background-image: url(../img/sub_header_back_pgis.png);
}

.sub-header-wrap .title {
  position: absolute;
  width: 50%;
  color: white;
  line-height: 1em;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 3rem;
}

@-webkit-keyframes BackMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes BackMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 1000px) {
  .sub-header-wrap .title {
    margin-top: calc(2rem * 1.2);
  }
}

body {
  background-color: #161A1E;
  color: #fff;
  font-family: "Mark Pro Heavy";
}

.sub-wrap {
  position: relative;
  width: 100%;
  top: 60px;
}

.container {
  position: relative;
  width: 100%;
}

.container.with-left-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.container.with-left-menu .left-menu-wrap {
  height: 100%;
  border-right: 1px solid #252628;
  background-color: #0B0E10;
  display: none;
}

.container.with-left-menu .left-menu-wrap .left-menu li {
  width: 100%;
  border-bottom: 1px solid #252628;
  overflow: hidden;
}

.container.with-left-menu .left-menu-wrap .left-menu li a {
  position: relative;
  display: block;
  color: #80898F;
  width: 100%;
  text-transform: uppercase;
  line-height: 58px;
  padding: 0 2rem 0 2rem;
}

.container.with-left-menu .left-menu-wrap .left-menu li a::after {
  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 14px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -2rem;
  background-image: url(../img/common/icon_arrow_next_red.svg);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.container.with-left-menu .left-menu-wrap .left-menu li a:hover {
  color: white;
  background-color: black;
}

.container.with-left-menu .left-menu-wrap .left-menu li a:hover::after {
  right: 1.5rem;
}

.container.with-left-menu .left-menu-wrap .left-menu li a.active {
  color: white;
  background-color: black;
}

.container.with-left-menu .left-menu-wrap .left-menu li a.active::after {
  right: 1.5rem;
}

.container.with-left-menu .content-wrap {
  width: 100%;
  min-width: 320px;
}

.container.with-left-menu .content-wrap.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (min-width: 1000px) {
  .container.with-left-menu {
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
  }
  .container.with-left-menu .left-menu-wrap {
    display: block;
  }
  .container.with-left-menu .content-wrap.team-list {
    padding: 1rem;
  }
}

@media (min-width: 1360px) {
  .container.with-left-menu {
    -ms-grid-columns: 350px 1fr;
        grid-template-columns: 350px 1fr;
  }
  .container.with-left-menu .content-wrap.team-list {
    padding: 2rem;
  }
}

.item-team {
  position: relative;
  width: 100%;
  height: 78px;
  margin-top: 0.5rem;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.item-team .inner {
  position: absolute;
  width: 100%;
}

.item-team .team-logo {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8%;
  margin-top: 1rem;
}

.item-team .team-name {
  font-family: "Rajdhani";
  color: white;
  text-transform: uppercase;
  line-height: 0.9em;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.item-team#geng .team-logo {
  background-color: black;
  background-image: url(../img/teams_logo/team_logo_geng.png);
}

.item-team#ence {
  background-color: #7A725B;
}

.item-team#ence .team-logo {
  background-image: url(../img/teams_logo/team_logo_ence.png);
}

.item-team#faze {
  background-color: #7325DF;
}

.item-team#faze .team-logo {
  background-image: url(../img/teams_logo/team_logo_faze_clan.png);
}

.item-team#natus {
  background-color: #FFF720;
}

.item-team#natus .team-logo {
  background-image: url(../img/teams_logo/team_logo_natus_vincere.png);
}

.item-team#natus .team-name {
  color: black;
}

@media (min-width: 1000px) {
  .item-team {
    width: calc(25% - 12px);
    height: auto;
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-team::before {
    content: '';
    display: block;
    padding-top: 139.71631%;
  }
  .item-team:nth-child(1) {
    margin-top: 0;
  }
  .item-team:nth-child(2) {
    margin-top: 0;
  }
  .item-team:nth-child(3) {
    margin-top: 0;
  }
  .item-team:nth-child(4) {
    margin-top: 0;
  }
  .item-team .team-logo {
    margin: 2rem auto 1rem auto;
    width: 180px;
    height: 180px;
  }
  .item-team .team-name {
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .item-team:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1700px) {
  .item-team {
    width: 100%;
    max-width: calc(20% - 24px);
    height: auto;
    margin-top: 2rem;
  }
  .item-team:nth-child(5) {
    margin-top: 0;
  }
  .item-team .team-logo {
    margin: 2rem auto 1rem auto;
    width: 240px;
    height: 240px;
  }
  .item-team .team-name {
    font-size: 2rem;
  }
}

.container-cards {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid red;
}

.card-col3 {
  position: relative;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
}

.card-news-coverbackimage {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.card-video-basic .text-box {
  color: white;
}

@media (min-width: 0) {
  .card-news-coverbackimage {
    width: 100%;
    height: 420px;
  }
}

@media (min-width: 768px) {
  .container-cards {
    max-width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .overflow-x {
    width: 100%;
  }
  .card-news-coverbackimage {
    max-width: calc(50% - 16px);
    height: 360px;
    margin: 0 6px;
  }
  .card-video-basic {
    max-width: calc(50% - 16px);
    height: 360px;
    margin: 0 6px;
  }
}

@media (min-width: 1000px) {
  .sub-wrap {
    top: 90px;
  }
  .container-cards {
    max-width: 1176px;
  }
  .overflow-x {
    width: 100%;
  }
  .card-col3 .text-box .title {
    font-size: 1.125rem;
  }
  .card-news-coverbackimage {
    max-width: calc(25% - 16px);
    height: 380px;
    margin: 0 8px;
  }
  .card-video-basic {
    max-width: calc(25% - 16px);
    height: 380px;
    margin: 0 8px;
  }
}

@media (min-width: 1360px) {
  .sub-wrap {
    top: 110px;
  }
  .container-cards {
    max-width: 1390px;
  }
  .card-col3 .text-box .title {
    font-size: 1.5rem;
  }
  .card-news-coverbackimage {
    max-width: calc(25% - 28px);
    height: 420px;
    margin: 0 14px;
  }
  .card-video-basic {
    max-width: calc(25% - 28px);
    height: 420px;
    margin: 0 14px;
  }
}

@media (min-width: 1700px) {
  .container-cards {
    max-width: 1656px;
  }
  .card-news-coverbackimage {
    max-width: calc(25% - 36px);
    height: 420px;
    margin: 0 18px;
  }
  .card-video-basic {
    max-width: calc(25% - 36px);
    height: 420px;
    margin: 0 18px;
  }
}
