
// Typography
//-------------------------

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base: $font-family-sans-serif;
$font-family-code: $font-family-monospace;

// Type Scale Set
// Xn = Xn-1 + {INT[(n-2)/4] + 1} * 2
// 
$font-scale:(
    font-scale-12 : 0.75rem,
    font-scale-14 : 0.875rem,
    font-scale-16 : 1rem,
    font-scale-18 : 1.125rem,
    font-scale-20 : 1.25rem,
    font-scale-24 : 1.5rem,
    font-scale-28 : 1.75rem,
    font-scale-32 : 2rem,
    font-scale-36 : 2.25rem,
    font-scale-42 : 2.625rem,
    font-scale-48 : 3rem,
    font-scale-54 : 3.375rem,
    font-scale-60 : 3.75rem,
    font-scale-68 : 4.25rem,
    font-scale-76 : 4.75rem,
    font-scale-84 : 5.25rem,
    font-scale-92 : 5.75rem
);


$font-size-root:              null !default;
$font-size-base:              1rem !default;
$font-size-tiny:              $font-size-base * .75; 
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.4 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              1.75 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

//

$hr-margin-y:                 $spacer !default;
$hr-color:                    $gray-300 !default;
$hr-height:                   1px !default;
$hr-opacity:                  .25 !default;

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

// Links
//
// Style anchor elements.

$link-color:                              $gray-900 !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   null !default;

// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

$stretched-link-pseudo-element:           after !default;
$stretched-link-z-index:                  1 !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;

$mark-padding: .2em !default;
$mark-bg:                     #fcf8e3 !default;

$sub-sup-font-size:           .75em !default;